// your scss files should import here 💪🏻
// @import "./header";
@import "./root.scss";
@import "./footer.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #5d7b6f,
    #a4c3a2,
    #b0dab8,
    #eae7d6,
    #d7f9fa
  );
}

li {
  list-style: none;
}
button {
  background-color: lightblue;
  border-radius: 5%;
  border: none;
}
h5 {
  color: red;
}
i {
  font-size: 2rem;
}

img {
  width: 20rem;
}
.social {
  background-color: white;
  border-radius: 25%;
  border: 1px solid black;
  margin-right: 5px;
}
.social:hover {
  cursor: pointer;
  background-color: lightgray;
}
